/* to remove sticky to left 
  change channel container to 100% width and no float
  have channel-selected, unselected be width of 75% */

.channel-container {
  width: 90%;
  float: left;
}

div[class^='channel-selected']{
  padding: 5px;
}

div[class^='channel-unselected']{
  padding: 5px;
}


.channel-selected {
  background: #ed8928;
  width: 100%;
  display: inline-block;
  text-align: left;
  border-radius: 0 100px 100px 0;
}

.channel-unselected {
  display: inline-block;
  width: 100%;
  text-align: left;
}

.add-people-button {
  padding-right: 25px;
  float: right;
}

.channel-name {
  padding-left: 25px;
  outline: none;
}

.create-channel-container {
  width: 90%;
  text-align: left;
}

/* the padding is 30 because the channel-selected/unselected is 25+5 from div CLASS above */
.create-channel-header {
  padding-left: 30px;
  padding-top: 30px;
}

.create-channel-button {
  padding-right: 25px;
  float: right;
}
/* TEXT OVERFLOW OF CHANNEL TODO */