/* to remove sticky to left 
  change channel container to 100% width and no float
  have channel-selected, unselected be width of 75% */

.channel-container {
  width: 90%;
  float: left;
}

div[class^='channel-selected']{
  padding: 5px;
}

div[class^='channel-unselected']{
  padding: 5px;
}


.channel-selected {
  background: #ed8928;
  width: 100%;
  display: inline-block;
  text-align: left;
  border-radius: 0 100px 100px 0;
  color: white;
}

.channel-unselected {
  display: inline-block;
  width: 100%;
  text-align: left;
}

.channel-unselected-private {
  display: inline-block;
  width: 100%;
  text-align: left;
}

.channel-selected-private {
  background: #ed8928;
  width: 100%;
  display: inline-block;
  text-align: left;
  border-radius: 0 100px 100px 0;
}

.channel-name {
  padding-left: 25px;
  outline: none;
  width: 100px;
}

.create-channel-container {
  width: 90%;
  text-align: left;
}

/* the padding is 30 because the channel-selected/unselected is 25+5 from div CLASS above */
.create-channel-header {
  padding-left: 30px;
  padding-top: 30px;
}

.create-channel-button {
  padding-right: 25px;
  float: right;
  outline: none;
}

/* pads the '+' icon to be level with Channel text */
.fa {
  padding-top: 4px;
}

.create-channel-button {
  outline: none;
}

#create-channel-input {
  position: relative;
  display: block;
  margin: 0 auto;
  border: 2px solid #ed8928;
  /*border-color: #c4c4c4 #d1d1d1 #d4d4d4;*/
  border-radius: 2px;
  padding: 5px;
  outline: none;
}

.create-channel-modal-submit {
  float: left;
  color: #4d394b;
}

.create-channel-modal-cancel {
  float:right;
  color: #4d394b;
}

.add-people-button {
  padding-right: 25px;
  float: right;
}

.add-people-button-outline {
  outline: none;
}

#add-people-input {
  position: relative;
  display: block;
  margin: 0 auto;
  border: 2px solid #ed8928;
  /*border-color: #c4c4c4 #d1d1d1 #d4d4d4;*/
  border-radius: 2px;
  padding: 5px;
  outline: none;
}

.add-people-modal-submit {
  float: left;
  color: #4d394b;
}

.add-people-modal-cancel {
  float: right;
  color: #4d394b;
}
/* TEXT OVERFLOW OF CHANNEL TODO */

.buttontext {
  width: 90%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: left;
}​
.inner-channel-container {
  background-color: none;
}

.inner-channel-container:hover{
  background: #288ced;
  border-radius: 0 100px 100px 0;
  color: white;
}