.chat-header {
  background: #4d394b;
  height: 7%;
  color: white;
  font-weight: bold;
  padding: 10px;
}

.chat-header .header-left {
  float: left;
}

.chat-header .header-right {
  float: right;
}