/* html and webkit modifiers are to hide scrollbar */
/* http://muaz-khan.github.io/Everything/CSS3/scroll-bar/ */
/* scrollbar doesn't work in firefox */
html {
  overflow-y: scroll;
  overflow-y: hidden;
}

body {
  font-family: 'Lato', sans-serif;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

::-webkit-scrollbar-thumb{
  background: black;
}

.global-container {
  height: 100vh;
  width: 100vw;
}

.wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;  
  
  flex-direction: column;
  
  font-weight: bold;
  text-align: center;
  height: 100%;
  width: 100%;
  padding-top: 53px;
}

.wrapper > * {
  /*padding: 10px;*/
  flex: 1 100%;
}

.main {
  text-align: left;
  background: white;
  flex: 5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.aside-1 {
  background: #ebeef3;
  overflow-y: auto;
  flex: 1;
}

.aside-2 {
  background: #f3f0eb;
  overflow-y: auto;
  flex: 1;
}

/*@media all and (min-width: 600px) {
  .aside { flex: 1 auto; }
}*/

@media all and (min-width: 800px) {
  .chat-header {order: 1; flex: 1; height: 100%;}
  .aside-1 { order: 2; flex: 3; height: 100%;} 
  .main    { order: 3;   flex: 12; height: 100%;}
  .aside-2 { order: 4;   flex: 5; height: 100%;}
  .wrapper {flex-direction: row;}
}

/* when the browser is 800px - I establish the flex and height property and set the direction to row based */
/* when the browser is below 800px - it defaults to the generic flexes established in the corresponding class selectors */
/* I can do more conditions, like when the window is really large - I don't necessarily want to keep the ratio the same
between the 3 main objects - I might limit the channel width */

body {
  padding: 2em; 
}
