[data-id="tutorialFinish"] {
  width: 500px;
}

[data-id="publicChannelIntro"] {
  width: 500px;
}

[data-id="privateChannelIntro"] {
  width: 500px;
}

[data-id="privateChannelShow"] {
  width: 400px;
}

[data-id="redditIntro"] {
  width: 400px;
}
